<?xml version="1.0" encoding = "UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
           metadata-complete="true">
  <display-name>Bike Rental</display-name>
  <servlet>
    <display-name>BikeRentalServlet</display-name>

    <servlet-name>BikeRentalServlet</servlet-name>
    <servlet-class>by.training.vashkevichyura.controller.BikeRentalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BikeRentalServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
